### **Model Inference**

Import Library

In [56]:
import pandas as pd
import numpy as np
import joblib as joblib

Load Files

In [57]:
scaler = joblib.load('deployment/scaler.pkl')
hot = joblib.load('deployment/hot_encoder.pkl')
ord = joblib.load('deployment/ord_encoder.pkl')

#model
rf = joblib.load('deployment/rf_model.pkl')

Data Inf using individual files

In [58]:
data_inf = {'model': {362: 'X5',
                    4314: 'Q5',
                    7862: 'Q3',
                    9473: '4 Series',
                    4363: 'Tucson'},
            'year': {362: 2020, 4314: 2019, 7862: 2017, 9473: 2015, 4363: 2017},
            'price': {362: 60990, 4314: 44495, 7862: 20000, 9473: 14299, 4363: 14270},
            'transmission': {362: 'Semi-Auto',
                            4314: 'Semi-Auto',
                            7862: 'Automatic',
                            9473: 'Automatic',
                            4363: 'Manual'},
            'mileage': {362: 3500, 4314: 8700, 7862: 21981, 9473: 80614, 4363: 14752},
            'fuelType': {362: 'Diesel',
                        4314: 'Hybrid',
                        7862: 'Petrol',
                        9473: 'Diesel',
                        4363: 'Petrol'},
            'tax': {362: 145, 4314: 135, 7862: 145, 9473: 125, 4363: 145},
            'mpg': {362: 33.6, 4314: 117.7, 7862: 47.9, 9473: 58.9, 4363: 44.8},
            'engineSize': {362: 3.0, 4314: 2.0, 7862: 1.4, 9473: 2.0, 4363: 1.6},
            'company': {362: 'BMW',
                        4314: 'Audi',
                        7862: 'Audi',
                        9473: 'BMW',
                        4363: 'Hyundai'}}

In [59]:
data_inf=pd.DataFrame(data_inf).reset_index(drop=True)
data_inf

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,company
0,X5,2020,60990,Semi-Auto,3500,Diesel,145,33.6,3.0,BMW
1,Q5,2019,44495,Semi-Auto,8700,Hybrid,135,117.7,2.0,Audi
2,Q3,2017,20000,Automatic,21981,Petrol,145,47.9,1.4,Audi
3,4 Series,2015,14299,Automatic,80614,Diesel,125,58.9,2.0,BMW
4,Tucson,2017,14270,Manual,14752,Petrol,145,44.8,1.6,Hyundai

In [60]:
# seleksi kolom
num_col = ['mileage', 'engineSize','mpg']
cat_ord = ['year','transmission']
cat_nom = ['fuelType','model','company']

# transform dari file
data_scaled = scaler.transform(data_inf[num_col])
data_hot = hot.transform(data_inf[cat_nom]).toarray()
data_ord = ord.transform(data_inf[cat_ord])

In [61]:
data = np.concatenate([data_scaled, data_ord, data_hot], axis=1) # gabung file

In [62]:
pred = rf.predict(data) # predict 
data_inf['prediction'] = pred # masukan hasil prediksi
data_inf

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,company,prediction
0,X5,2020,60990,Semi-Auto,3500,Diesel,145,33.6,3.0,BMW,55315.913333
1,Q5,2019,44495,Semi-Auto,8700,Hybrid,135,117.7,2.0,Audi,45631.632500
2,Q3,2017,20000,Automatic,21981,Petrol,145,47.9,1.4,Audi,19742.330000
3,4 Series,2015,14299,Automatic,80614,Diesel,125,58.9,2.0,BMW,13324.889667
4,Tucson,2017,14270,Manual,14752,Petrol,145,44.8,1.6,Hyundai,13293.550000

Data Inf using Pipelines

In [73]:
data_inf_2 = {'model': {362: 'X5',
                    4314: 'Q5',
                    7862: 'Q3',
                    9473: '4 Series',
                    4363: 'Tucson'},
            'year': {362: 2020, 4314: 2019, 7862: 2017, 9473: 2015, 4363: 2017},
            'transmission': {362: 'Semi-Auto',
                            4314: 'Semi-Auto',
                            7862: 'Automatic',
                            9473: 'Automatic',
                            4363: 'Manual'},
            'mileage': {362: 3500, 4314: 8700, 7862: 21981, 9473: 80614, 4363: 14752},
            'fuelType': {362: 'Diesel',
                        4314: 'Hybrid',
                        7862: 'Petrol',
                        9473: 'Diesel',
                        4363: 'Petrol'},
            'tax': {362: 145, 4314: 135, 7862: 145, 9473: 125, 4363: 145},
            'mpg': {362: 33.6, 4314: 117.7, 7862: 47.9, 9473: 58.9, 4363: 44.8},
            'engineSize': {362: 3.0, 4314: 2.0, 7862: 1.4, 9473: 2.0, 4363: 1.6},
            'company': {362: 'BMW',
                        4314: 'Audi',
                        7862: 'Audi',
                        9473: 'BMW',
                        4363: 'Hyundai'}}
data_inf_2=pd.DataFrame(data_inf_2)

In [74]:
pipe = joblib.load("deployment/pipelines.pkl") # load pipelines

pred_p=pipe.predict(data_inf_2) # langsung prediksi

In [77]:
pd.DataFrame(pred_p) # tampilkan hasil

              0
0  55315.913333
1  45631.632500
2  19742.330000
3  13324.889667
4  13293.550000